trigger:
- main

pool:
  vmImage: 'windows-latest'

strategy:
  matrix:
    net6:
      dotnetVersion: '6.0.x'
    net8:
      dotnetVersion: '8.0.x'

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: 'Install .NET SDK $(dotnetVersion)'
  inputs:
    packageType: 'sdk'
    version: '$(dotnetVersion)'

- script: dotnet restore
  displayName: 'Restore packages'

- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: 'Build'

- script: dotnet test --configuration $(buildConfiguration) --no-build
  displayName: 'Run tests'
